<ion-view title="Settings" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="settings-form2" class="list">
      <ion-checkbox id="settings-checkbox1">Checkbox 1</ion-checkbox>
      <ion-checkbox id="settings-checkbox2">Checkbox 2</ion-checkbox>
      <ion-checkbox id="settings-checkbox3">Checkbox 3</ion-checkbox>
    </form>
    <a ui-sref="tabsController.toggler()" id="settings-button10" class="button button-positive button-block">Back to toggles</a>
  </ion-content>
</ion-view>